* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
 max-width: 1500px;
 margin: 0 auto;
}

.title {
    text-align: center;
    margin: 1rem 0;
}

input {
    margin: 2rem 0;
    padding: .5rem;
}

table {
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 4px;
  }

.buttons {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.page-buttons {
    display: flex;
    gap: .5rem;
}


button {
    padding: 2px;
    cursor: pointer;
}

.active-button {
    background-color: green;
    color: white;
}